@use './libs/tailwind' as *;
@use './libs/antd' as *;
@use './common/general' as *;
@use './common/fonts' as *;

// Override base SVG style to work with Ant Design
svg {
  vertical-align: initial;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0deg 2% 42% / 21%);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
